@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";
@import "css/_skin-vars.scss";

/* Global
===============================================================*/
/* Extra BG Image Styles */
.body_wrap.fixed_bg {
    background: url(images/bg-overlay.png) repeat;

    .page_content_wrap {
        background-color: transparent;
    }
}

/* Sticky Header*/
.sc_layouts_row_fixed {
    transition: none !important;
}
.sc_layouts_row_fixed_on {
    animation-duration: 0.3s;
    animation-name: fixedHeaderAnim;
    animation-timing-function: ease-out;
    background-color: var(--theme-color-bg_color);
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.08);
}
.sc_layouts_row_fixed_on .sc_layouts_row_type_compact {
    padding: 0;
}
@keyframes fixedHeaderAnim {
    0%   {
        @include transform(translateY(-120%));
    }
    100% {
        @include transform(translateY(0));
    }
}
.sc_layouts_row_fixed_on.sc_layouts_row_fixed_animation_off {
    animation-duration: 0.3s;
    animation-name: fixedHeaderAnimOff;
    animation-timing-function: ease-out;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.08);
}
@keyframes fixedHeaderAnimOff {
    0%   {
        @include transform(translateY(0));
        opacity: 1;
    }
    100% {
        @include transform(translateY(-120%));
        opacity: 1;
    }
}

/* Services */
/* Default */
.sc_services_default .sc_services_item_info {
    padding: 2.9em 1.6em;
}

/* Button */
.button_bg_icon_color .sc_button_icon {
    background-color: var(--theme-color-alter_bg_color);
}

/* Small */
.sc_layouts_row_type_compact .sc_button.sc_button_size_small {
    padding: 15px 35px;
    font-size: 14px;

    &.sc_button_bordered {
        padding: 13px 33px;
    }
}

/* Testimonials */
.sc_testimonials_extra .sc_testimonials_item .sc_testimonials_item_content::before,
.sc_testimonials_simple [class*="column"] .sc_testimonials_item_content::before,
.sc_testimonials_simple .sc_testimonials_item_content::before,
.sc_testimonials_accent2 .sc_testimonials_item::before {
    content: "\e9ca";
}

body:not(.mobile_layout) .sc_testimonials_extra .slider_container[data-slides-per-view="3"] .swiper-slide-duplicate-active + .swiper-slide-duplicate-next .sc_testimonials_item_content,
body:not(.mobile_layout) .sc_testimonials_extra .slider_container[data-slides-per-view="3"] .swiper-slide-active + .swiper-slide-next .sc_testimonials_item_content,
body:not(.mobile_layout) .sc_testimonials_extra .slider_container[data-slides-per-view="3"] .swiper-slide-next .sc_testimonials_item_content,
body:not(.mobile_layout) .sc_testimonials_extra .slider_container[data-slides-per-view="3"] .swiper-slide-duplicate-active + .swiper-slide-duplicate-next .sc_testimonials_item_content::after,
body:not(.mobile_layout) .sc_testimonials_extra .slider_container[data-slides-per-view="3"] .swiper-slide-active + .swiper-slide-next .sc_testimonials_item_content::after,
body:not(.mobile_layout) .sc_testimonials_extra .slider_container[data-slides-per-view="3"] .swiper-slide-next .sc_testimonials_item_content::after {
    background-color: var(--theme-color-text_link);
}

.sc_testimonials_extra .sc_testimonials_item .sc_testimonials_item_content::before,
.sc_testimonials_accent2 .sc_testimonials_item::before {
    color: var(--theme-color-text_link);
}

.sc_testimonials_accent2 .sc_testimonials_item {
    box-shadow: none;
}

.sc_testimonials_modern [class*="column"] .sc_testimonials_item_content strong,
.sc_testimonials_modern .sc_testimonials_item_content strong {
    font-weight: 500;
}

/* Teams */
.sc_team_accent .post_featured .trx_addons_hover_mask {
    background-color: var(--theme-color-extra_bg_color);
}

.sc_team.sc_team_short .sc_item_columns [class*="trx_addons_column-"] {
    padding-bottom: 60px;
}

/* Blogger */
.sc_blogger_default.sc_blogger_default_classic_time_2 .post_meta.sc_blogger_item_meta.post_meta_categories .post_meta_item.post_categories a {
    background-color: var(--theme-color-text_link);
}

/* SC Icons */
.sc_icons_modern .sc_icons_icon {
    background-color: var(--theme-color-alter_bg_color);
}

.sc_icons_number .sc_icons_item .sc_icons_item_number {
    top: -0.3em;
}

.sc_icons_divider4 .slider-wrapper .sc_icons_item::after,
.sc_icons_divider4 .sc_icons_columns_wrap .sc_icons_item::after {
    display: none;
}

/* 404 */
.post_item_404 .post_content .all-svg {
    display: none;
}

/* Elementor */
.elementor-widget-progress .elementor-progress-percentage {
    font-weight: 500;
}

/* Skills */
.sc_skills_counter_alter .sc_skills_total {
    letter-spacing: 0;
}

/* Single Team */
.team_page_wrap_info .team_member_brief_info_details .team_member_details_phone .team_member_details_value {
    font-weight: 500;
}

/* Block Author Single Post */
.author_info {
    border-radius: 14px;
}

.post_header_wrap_style_style-1 .post_header .post_title {
    line-height: 1.1em;
}

[class*="scheme_"].footer_wrap .wp-block-tag-cloud a,
[class*="scheme_"].footer_wrap .sc_edd_details .downloads_page_tags .downloads_page_data > a,
[class*="scheme_"].footer_wrap .widget_product_tag_cloud a,
[class*="scheme_"].footer_wrap .widget_tag_cloud a,
[class*="scheme_"].sidebar .wp-block-tag-cloud a,
[class*="scheme_"].sidebar .sc_edd_details .downloads_page_tags .downloads_page_data > a,
[class*="scheme_"].sidebar .widget_product_tag_cloud a,
[class*="scheme_"].sidebar .widget_tag_cloud a,
.post_item_single .post_tags_single a {
    color: var(--theme-color-text_light);
}
.wp-block-tag-cloud a,
.sc_edd_details .downloads_page_tags .downloads_page_data > a,
.widget_product_tag_cloud a, .widget_tag_cloud a,
.post_item_single .post_tags_single a {
    font-weight: 300;
}

@media #{$media_lg} {
    /* Team member */
    .sc_team.sc_team_short .sc_item_columns [class*="trx_addons_column-"] {
        padding-bottom: 45px;
    }

    /* Mobile Menu */
    .menu_mobile .menu_mobile_nav_area > ul > .menu-item > a {
        font-weight: 500;
    }
}

@media #{$media_md} {
    /* Team member */
    .sc_team.sc_team_short .sc_item_columns [class*="trx_addons_column-"] {
        padding-bottom: 30px;
    }

    /* Button */
    /* Small */
    .sc_layouts_row_type_compact .sc_button.sc_button_size_small:not(.sc_button_simple) {
        padding: 13px 35px;

        &.sc_button_bordered {
            padding: 11px 33px;
        }
    }

    /* Services */
    .sc_services.sc_services_accent .sc_services_item {
        padding: 2em 1.5em;
    }
}

@media #{$media_sm} {
    .sc_icons.sc_icons_divider .sc_icons_item .sc_icons_item_title + .sc_icons_item_more_link,
    .sc_icons.sc_icons_divider .sc_icons_item .sc_icons_item_description + .sc_icons_item_more_link {
        margin-top: 2em;
    }

    .sc_skills.sc_skills_counter_extra.sc_skills_counter_style_odometer .sc_skills_digit {
        min-width: 29px;
    }

    /* Services */
    .sc_services.sc_services_accent .sc_services_item .sc_services_item_title {
        font-size: 1.25em;
    }
}
@media #{$media_xs} {
    /* SC Icons */
    .sc_icons.sc_icons_light .sc_icons_item_title {
        font-size: 1.15em;
    }

    /* Button */
    /* Small */
    .sc_layouts_row_type_compact .sc_button.sc_button_size_small:not(.sc_button_simple) {
        padding: 10px 30px;

        &.sc_button_bordered {
            padding: 9px 28px;
        }
    }

    /* Tags */
    .sc_edd_details .downloads_page_tags .downloads_page_data > a,
    .widget_product_tag_cloud a, .widget_tag_cloud a,
    .post_item_single .post_tags_single a {
        padding: 6px 15px 5px;
    }
}

